/* Header styles */
.header-wraper {
    max-width: 1319px;
    width: 88%;
}
.header-flex {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 9.17px;
    padding-bottom: 9.17px;
    align-items: center;
}
.fa-bars {
    font-size: 24px;
    display: none;
}
.nav-li {
    display: flex;
    width: 252px;
    justify-content: space-between;
    font-family: 'ABeeZee';
    font-size: 16px;
    font-weight: normal;
    line-height: 19px;
}
.menu-div {
    display: flex;
    gap: 42px;
    align-items: center;
}
.fa-user {
    color: #fff;
}
.profile-div {
    background-color:rgba(0, 0, 0, 1);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/* First section elements styles */

.section-wraper01 {
    background-image: url("../images/photographer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 100%;
    height: auto;
    padding: 5% 10%;
}
.flex-wraper1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
    height: auto;
}
.right-block01 {
    width: 51.5%;
    display: flex;
    flex-direction: column;
    height: auto;
}
.right-block01 > h2 {
    font-family: 'Kanit';
    font-size: 50px;
    font-weight: normal;
    line-height: 75px;
    color:rgba(255, 255, 255, 1);
    margin-left: 14px;
}
.right-block01 > hr, .left-block01 > hr {
    width: 100%;
    height: 1px;
    color:rgba(255, 255, 255, 1);
}
.right-block01 > p {
    font-family: 'Kanit';
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color:rgba(255, 255, 255, 1);
    width: 92%;
    margin-left: 32px;
}
.left-block01 {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 39%;
    padding-top: 27px;
    padding-bottom: 33px;
    height: auto;
}
.top-div-wraper, .bottom-div-wraper {
    width: 81%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: auto;
}
.top-div-wraper {
    flex-direction: row;
    justify-content: space-between;
}

.top-div-wraper > h3 {
    font-family: 'Kanit';
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    color:rgba(0, 0, 0, 1)
}
.left-block01 > hr, .new-div > hr {
    margin-top: 8px;
    margin-bottom: 17px;
    width: 81%;
}
.bottom-div-wraper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.block {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.block > h4 {
    font-family: 'Kanit';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: rgba(250, 121, 60, 1);
}
.block > p {
    font-family: 'Kanit';
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: black;
}
.new-div {
    display: none
}
.sliders {
    display: flex;
    gap: 23px;
}
.arrow-rght, .arrow-lft {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border: 1px solid rgba(120, 120, 120, 1);
}
.arrow-rght {
    background-color: rgba(250, 121, 60, 1);
    border: none;
}
.fa-arrow-right {
    color: #fff;
}
.fa-arrow-left {
    color: rgba(120, 120, 120, 1);
}
/* Second section elements */
.section-wraper02 {
    margin: 0 auto;
    display: flex;
    gap: 34px;
    margin-top: 33px;
    flex-direction: column;
    max-width: 1180px;
    width: 82%;
    height: auto;
}
.section-wraper02 > h2, .section-wraper03 > h2 {
    font-family: 'Kanit';
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
}
.photos-wraper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.photo-block {
    width: 32%;
    border: 1px solid rgba(0, 0, 0, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photo-block > img {
    width: 100%;
    object-fit: contain;
}
.text, .text-wraper {
    margin-top: 18px;
    margin-bottom: 15px;
    width: 89%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.text > h5, .text-wraper > h5 {
    font-family: 'Kanit';
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    font-family: Kanit;
}
.text > p {
    font-family: 'Kanit';
    font-size: 16px;
    font-weight:  normal;
    line-height: 24px;
    margin-bottom: 4px;
}
.time {
    display: flex;
    gap: 13px;
}
/* Third Section elements styles */
.section-wraper03 {
    margin: 0 auto;
    display: flex;
    margin-top: 52px;
    margin-bottom: 71px;
    flex-wrap: wrap;
    gap: 34px;
    max-width: 1179px;
    width: 100%;
    height: auto;
}
.images-block-wraper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.right-images-block {
    width: 66%;
    display: flex;
    flex-wrap: wrap;
    gap: 86px;
}
.images-block {
    background-image: url("../images/big-image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    flex-wrap: wrap; 
    align-items: end;   
}
.images-flex{
    display: flex;
    flex-wrap: wrap;
    align-items: end;
}
.images-flex > h4 {
    font-family: 'Kanit';
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    color: #fff;
}
.images-flex > p {
    font-family: 'Kanit';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    margin-bottom: 33px;
}
.left-images-block {
    width: 32%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.photo-block-wraper {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.photo-block-wraper> img {
    width: 100%;
    object-fit: contain;
}

.text-wraper > p {
    font-family: 'Kanit';
    font-size: 16px;
    font-weight:  normal;
    line-height: 24px;
    margin-bottom: 13px;
}
/* Footer elements styles */
.footer-wraper {
    background-color: black;
    height: auto;
}
.footer-flex {
    display: flex;
    height: 100;
    margin: 0 auto;
    padding-top: 36px;
    padding-bottom: 36px;
    gap: 15px;
   justify-content: center;
   align-items: center;
}